@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* { /* RESETAR AS POSICOES DOS ELEMENTOS */
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;  /* fazer com que ocupe a tela inteira do navegador */
    box-sizing: border-box;
    background-color: rgb(246, 239, 239);
    color: rgb(69, 74, 79);
}

.cabecalho{
    background-color: #FCF9F9;
    border: 2px solid #E9E4E5;
    border-radius: 10px;
    margin: 20px 15%;
    padding: 1%;

}

.cabecalho__menu{

    display: flex;
    justify-content: center;
    gap: 30px;

}

.cabecalho__menu__link{
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-size: 24px;
    font-weight: 600px;
    


}

.cabecalho__menu__link_doacoes{
    display: flex;
    justify-content: left;
    font-family: "Montserrat", sans-serif;
    text-decoration: underline;
    font-size: 24px;
    font-weight: 600px;

}


.apresentacao{
    margin: 3% 15%;
    display: flex;
    flex-direction: column; /* definir elementos em ordem de coluna */
    align-items: center;  /* centralizar conteudo no meio da tela */

}

.apresentacao__titulo{
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-family: "Krona One", sans-serif;
    margin-top: 40px;
    text-decoration: underline;
    
}
.apresentacao__formas{

    margin-top: 30px;
    margin-bottom: 30px;
    height: 50px;
    width: 320px;
    text-align: center;
    white-space: nowrap; /* impedir quebra de linha */

    font-size: 26px;

}

.apresentacao__descricao{
    color: #6B7076;
    width: 70%;
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;  /* CENTRALIZAR O TEXTO */
    font-size: 24px;
    font-family: "Montserrat", sans-serif;


}

.apresentacao__all{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FCF9F9;
    color: #575F65;
    border: 2px solid #E9E4E5;
    border-radius: 50px;

    margin-inline: 250px;

}

.apresentacao__links{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 5%;
    margin-top: 30px;
}



.apresentacao__links_link img {
    width: 200px;
    height: 200px;
}

.apresentacao__links__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: #FCF9F9;
    color: #575F65;
    border: 2px solid #E9E4E5;
    border-radius: 50px;
    padding: 50px 50px;
    text-decoration: underline; /* retirar o sublinhado do link */
    font-size: 24px;
    font-weight: 550;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    white-space: nowrap; /* impedir quebra de linha */

    margin-bottom: 50px;

    width: 250px;
    min-height: 280px;

}

.apresentacao__links__link:hover{
    background-color: #E9E4E5;
    color: #575F65;
    border: 2px solid #E9E4E5;
    border-radius: 50px;
    padding: 50px 50px;
    text-decoration: underline; /* retirar o sublinhado do link */
    font-size: 24px;
    font-weight: 550;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    white-space: nowrap; /* impedir quebra de linha */

    margin-bottom: 50px;

    width: 250px;
    min-height: 280px;

}


/* h1{  CABECALHO 
    background-color: white;
    border: 1px solid white;
    margin: 10px;
    padding: 20px;
    
}  */

/* .title{
    color: black;
} */


/* span{
            color: #000000;
            border: 1px solid #000000;
            padding: 10px;
} */








